<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 class="abouttitle">About Yeats</h1>

    <div class="nav">
        <a href="/">Home</a>
        <a href="/photos">Photos</a>
        <a href="/works">Works</a>
    </div>

    <ol>
        <ul>Lives in Florida</ul>
        <ul>Part of the Ironhack WDFT Jan 2022</ul>
        <ul>Chill Vibes 😇</ul>
    </ol>

</body>
</html>