<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </div>

    <div class="container2">
        <h2>I have no picture of Yeats</h2>
        <h2>That is creepy</h2>
        <h2>So here is Melon Dog!</h2>
        <img src="/img/melondog.jpg" alt="">
    </div>
</body>
</html>